* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 15px;
}

main {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.menu {
    position: fixed;
    margin: 0;
    width: 200px;
    height: 100%;
    transition: all 0.4s ease-in-out;
    background-color: #000c50;
    overflow-x: hidden;
    left: 0;
}

.abrir {
    left: -150px;
}

.botao {
    position: fixed;
    padding: 5px;
    cursor: pointer;
    top: 60px;
    left: 10px;
}

ul  {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 50px;
}

ul li {
    list-style-type: none;
    margin: 5px;
}